[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cython = "== 0.27.3"
"kivy.deps.glew" = {version = "*", sys_platform = "== 'win32'"}
"kivy.deps.sdl2" = {version = "*", sys_platform = "== 'win32'"}
kivy = {git = "https://github.com/kivy/kivy.git", editable = true, egg = "kivy"}
python-osc = "*"
irc = "*"

[dev-packages]
buildozer = "*"
pyinstaller = "*"
pydocstyle = "*"
pycodestyle = "*"

[requires]
python_version = "3.6"
